@model EPiServer.Business.Commerce.NganLuongPayment.NganLuongPaymentMethod

@Html.HiddenFor(model => model.SystemKeyword)

<div class="alert alert-info">
    Ngan Luong - cong thanh toan so 1 Vietnam.
</div>